---
tags:
    - event
    - conf
layout: event.njk
date: 2019-12-07
location:
    city: Минск
    address: Октябрьская, 16А
    venue_name: SPACE
    venue_url: http://eventspace.by/
---

{% from 'events/_slides-link.njk' import slides_link %}

Программа

<ol>
    {% for item in collections.minsk_2019 %}
    <li>
        <time datetime="{{ item.data.date | isoDate }}">{{ item.data.date | time }}</time>

        {% if item.data.title %}
            <div id="{{ item.fileSlug }}">
                <h3>{{ item.data.title | safe }}</h3>

                {{ item.templateContent | safe }}

                {% if item.data.slides %}
                    {% for slide in item.data.slides %}
                    <p>
                        <a
                            href="{{ slides_link(page.fileSlug, item.fileSlug) }}"
                        >
                            Слайды в&nbsp;{{ slide.format | upper }} ({{ slide.size | filesizeformat }})
                        </a>
                    </p>
                    {% endfor %}
                {% endif %}

                {% if item.data.speaker %}
                <p>
                    <a href="#{{ item.data.speaker | slug }}">
                        {{ item.data.speaker }}
                    </a>
                </p>
                {% endif %}
            </div>
        {% else %}
            {{ item.templateContent | safe }}
        {% endif %}
    </li>
    {% endfor %}
</ol>

<h2>Докладчики</h2>

{% for item in collections.minsk_2019 %}
    {% if item.data.speaker %}
        {% for speaker in collections.speakers %}
            {% if speaker.data.name == item.data.speaker %}
            <div id="{{ item.data.speaker | slug }}">
                <h3>
                    {{ item.data.speaker }}
                    {% if speaker.data.socials.twitter %}
                    <a href="https://twitter.com/{{ speaker.data.socials.twitter }}">
                        @{{ speaker.data.socials.twitter }}
                    </a>
                    {% endif %}
                </h3>

                {{ speaker.templateContent | safe }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
