---
tags:
    - event
    - conf
layout: event.njk
date: 2019-12-07
location:
    city: Минск
    address: Октябрьская, 16А
    venue_name: SPACE
    venue_url: http://eventspace.by/
---

Программа

<ol>
    {% eventitem speaker="Никита Дубко", start='11:10', id="anchor" %}
        <h3><code>&lt;a&gt;</code></h3>
        <p>
            Что такое поисковая выдача? По факту — страница с десятками ссылок.
            Поэтому поисковики довольно трепетно относятся к тому, как отдавать
            ценный тег <code>&lt;a&gt;</code> пользователю. Давайте разберёмся,
            какие тайны в себе хранит этот тег, который с нами ещё с самого
            первого стандарта HTML.

            <a href="https://wsd.events/2019/12/07/pres/anchor/">Слайды в HTML (6,2 Мб)</a>
        </p>
    {% endeventitem %}
</ol>
