---
tags:
    - event
    - conf
layout: event.njk
permalink: "conf/{{ page.fileSlug }}.html"
date: 2019-12-07
location:
    city: Минск
    address: Октябрьская, 16А
    venue_name: SPACE
    venue_url: http://eventspace.by/
---

Программа
