---
date: 2019-12-07T18:40:00+03:00
title: 'Дискуссия «Как изменился веб за 10 лет — глазами очевидцев»'
tags: minsk_2019
slides:
    -
        format: html
        size: 41984
---

{% from 'events/_speaker-link.njk' import speaker_link %}

<p>
    Участники:
    {{ speaker_link("Юлия Бухвалова") }},
    {{ speaker_link("Вадим Макеев") }},
    {{ speaker_link("Анна Селезнёва") }}.
</p>

<p>
    Модератор: {{ speaker_link("Никита Дубко") }}.
</p>
