/* Fonts */

@import 'fonts.css';

/* Blocks */

@import 'blocks/visually-hidden.css';
@import 'blocks/page.css';
@import '../includes/header/header.css';
@import '../includes/header/logo.css';
@import 'blocks/navigation.css';
@import 'blocks/articles.css';
@import '../layouts/article/archive.css';
@import 'blocks/notice.css';
@import 'blocks/main.css';
@import '../layouts/article/content.css';
@import 'blocks/media.css';
@import '../includes/aside/links.css';
@import '../includes/footer/footer.css';
@import '../layouts/article/article.css';
@import '../layouts/article/authors.css';
@import 'blocks/blob.css';
@import '../layouts/article/related-articles.css';
@import '../includes/article-card/article-card.css';
@import '../includes/conference-link/conference-link.css';

/* Globals */

:root {
    --color-grey-lightest: #e9eaeb;
    --color-grey-lighter: #b1b3b6;
    --color-grey-light: #828282;
    --color-grey-medium: #696969;
    --color-grey-dark: #273238;
    --color-grey-darker: #333333;
    --color-blue-lightest: #def3f6;
    --color-blue-light: #32adfd;
    --color-blue-medium: #26649f;
    --color-blue-darker: #0064a4;
    --color-green-light: #ddf2ea;
    --color-green-darker: #a3cfd1;
    --color-turquoise: #00abbd;
}
